<div class="my-5 m-auto presentazione">
  <div class="row">
    <div class="col col-12">
      <div class="text-start">
        <p>
          Poichè questo progetto utilizza un local server, non è possibile
          caricarlo direttamente su Vercel. Per provarlo è necessario :
        </p>
        <ol>
          <li>Scaricare la repository</li>
          <li>aprire la cartrella con visual studio code</li>
          <li>Aprire il terminale integrato e digitare:</li>
          <ol>
            <li>npm i</li>
            <li>npm run full-stack</li>
          </ol>
        </ol>
      </div>
    </div>
  </div>
</div>
