<div class="container-fluid m-0">
  <div class="mySideBar">
    <div class="p-4"></div>
    <div class="container">
      <div class="fotoNome">
        <div class="row mb-5 rigaProfilo">
          <div class="col col-md-4 col-lg-6 m-auto">
            <div class="fotoProfilo">
              <img
              src="/assets/img/WhatsApp Image 2022-06-09 at 16.19.51.jpeg"
              width="100%"
              alt="foto profilo"
            />
            </div>
          </div>
        </div>
        <div class="titolo">
          <h3>Gaetano Notarangelo</h3>
          <h4>-Junior Front-End Developer -</h4>
        </div>
      </div>

      <div class="row text-start mt-3">
        <div class="col col-10 m-auto">
          <a
                target="_blank"
                rel="noreferrer"
                class="nav-link my-2"
                href="https://www.linkedin.com/in/gaetano-giulio-notarangelo-796580241/"
              >
              <i class="fa-brands fa-linkedin"></i> Linkedin
            </a>
            <a
            target="_blank"
            rel="noreferrer"
            class="nav-link my-2"
            href="https://github.com/Gaeta313"
          >
          <i class="fa-brands fa-github"></i> GithHub
          </a>
          <a
          target="_blank"
          rel="noreferrer"
          class="nav-link my-2"
          href="/assets/documents/Gaetano Giulio_Notarangelo_Curriculum_con_Portfolio.pdf"
        >
        <i class="fa-solid fa-cloud-arrow-down"></i>  Download Curriculum
        </a>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col col-10 m-auto text-start">
          <h4>- About Me -</h4>
          <p>
            Ciao, mi chiamo Gaetano e sono un appassionato di
            programmazione.
          </p>
          <p>
            Ho frequentato il corso Front-End di Epicode School, dove ho
            acquisto le principali skills del settore, fino ad arrivare ad
            Angular e React.
          </p>
          <p>
            Ecco a voi una presentazione di me stesso e dei miei lavori.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
