<div class="card h-100">
  <img class="card-img-top" [src]="progetto.bg" />

  <div class="card-body">
    <div class="card-title h5">
      {{ progetto.title }}
    </div>
    <p class="card-text">
      {{ progetto.summary }}
    </p>
  </div>
  <div class="list-group-flush list-group">
    <div class="list-group-item">Linguaggio : {{ progetto.linguage }}</div>
    <ng-container *ngIf="progetto.featuring">
      <div class="list-group-item">
        Collaboratori :
        <a
          *ngFor="let collaboratore of progetto.featuring"
          [href]="collaboratore.link"
        >
          {{ collaboratore.name }}
        </a>
      </div>
    </ng-container>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col">
        <button class="btn btn-success" (click)="open(progetto)">
          Dettagli
        </button>
      </div>
    </div>
  </div>
</div>
